/*
classe per la modifica del menu on mouse over
*/
a:hover.menu{
    color: #ffb3b3;
}

menu{
    color: black;
}


/*
in questo modo si può definire 
una classe con uno stesso stile 
per l'elemento img     
*/
img.classImg   {
    width: 18px;
    height: 18px;
} 

img.classHome   {
    width: 20px;
    height: 20px;
}         
img.classImgCupcake{
    float: left ;
    width: 45%;
}        

/*
 *  In generale customizzo i link a colore nero, non sottolineati e non grassetto
 *  introdotto per la navigation bar.
 */
a{
    color: black;
    text-decoration:none;
    font-weight:lighter; 
}

/*
 *   classe generica per gli h1
 */
h1{
    text-align: center;
    margin: 50px;
}

/*
 *   classe per i titoli colorati
 */
.classHPink{
    color: #ffb3b3;
}

/*
 * classe per la "nostra produzione" utile per avere i container delle immagini
 * e le descrizioni in linea senza usare il float:left che decentra il contenuto 
 * rispetto alla pagina.
 * E' importante il vertical-align: top in quanto altrimenti i div non rimangono 
 * allineati l'uno con l'altro. Su stack overflow è descritta la soluzione che ho 
 * attuato (allineare al top o al middle il container)
 */
.classGallery{
    margin: 25px;
    border: 1px solid #ccc;
    display: inline-block;
    width: 300px;
    vertical-align: top;
}


/*
 * #ffb3b3 è il rosa che è stato ricavato da photoshop 
 */
.classH3Prod{
    margin-top: auto;
    margin-left: 5%;
    color: #ffb3b3;
    /*allineo titoletto a sinistra*/ 
    text-align: left;
}

/*************** LA MIA PRODUZIONE *************/

.classImgProd{
    width: 100%;
}
.classPProd{
    text-align: justify;
    margin: 5%;
    height: 90px;
}

/*********FINE LA MIA PRODUZIONE********************/

/**************EVENTI DEL MESE **********************/
.classImgEvent{
    border-radius: 7px; 
    width: 100%;
}
.classH2Event{
    color: #ffb3b3;
}
.classPEvent{
    font-size: large;
    text-align: justify;
}

/*******************Fine EVENTI DEL MESE***********************/

/*****************************DAILY CUPCAKE***********************/

/*
* con le proprietà display:table e display:table-cell i div 
* hanno un comportamento molto simile a quello di una tabella e le celle contenute; 
* infatti il div con la proprietà display:table-cell viene a espandersi come fa una 
* cella dentro la tabella ed assegnandoli anche la proprietà 
* vertical-align:midddle il testo al suo interno si centrerà verticalmente. 
*/
.classDaily{
    margin: 25px;
    width: 10%;
    height: 200px;
    display: table-cell;
    /*border: dotted;*/
    vertical-align: central;
}
.classPDaily{
    text-align: justify;
    margin: 5%;
    font-size: 18px;
    /*border: dotted;*/
}
.classH2Daily{
    margin-left: 5%;
    color: #ffb3b3;
    /*allineo titoletto a sinistra*/ 
    text-align: left;
}
.classImgDaily{
    margin: 1%;
    width: auto;
    height: auto;
    /*border: dotted;*/
}

/***************FINE DAILY CUPCAKE***********************/


/********************** CONTATTI *****************************/
.classDivContatti{
    /*border: dotted;*/
    margin-top: 25px;
    margin-left: 8%;
    display: inline-block;
    width: 20%;
    padding: 1px;
    text-align: justify;
    vertical-align: top;
}
.classDivEmail{
    margin-top: 25px;
    margin-left: 5%;
    /*border: 1px solid #ccc;*/
    display: inline-block;
    width: 750px;
    text-align: justify;
    padding: 1px;
}

/*
 * è importante questo container in quanto mediante il clear left non si ha la 
 * situazione che l'elemento in float attiri il div successivo (provando con il 
 * border dotted si può notare come senza il clear il div salga fino a "Messaggi")
 */
.classDivFormContatti{
    /*border: dotted;*/
    clear: left;
    height: 25px;
}
.classLabelContatti{
    font-weight: bold;
    width: 150px;
    float: left;
    font-size: 20px;
}

.classInputContatti{
    /*border: 1px solid #dcdcdc;*/
    padding: 4px;
    width: 400px;
    height: 25px;
    color: #444;
    float: left;
    margin-left: 10%;
    font-size: 18px;
}
.classTAreaContatti{
    /*border: 1px solid #dcdcdc;*/
    padding: 4px;
    width: 400px;
    height: 150px;
    color: #444;
    float: left;
    margin-left: 10%;
    font-size: 18px;
}

.classButtonSendEmail{
    border-radius: 7px;
    width: 640px;
    height: 35px;
    background-color: #ffb3b3;
    margin-top: 15px;
    font-size: 20px;
}
/**********************FINE CONTATTI *****************************/

/************************PRENOTAZIONE*********************/

/*css relativo ai messaggi di errore e 
successo per la prenotazione*/
.error {
    background: #FDE2E2;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #BE0000;
    border-radius: 7px;
    color: #BE0000;
    font-weight: bold;
    padding: 5px;
    font-size: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
}

.completed {
    background: #B3FFB0;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #178A08;
    border-radius: 7px;
    color: #19880A;
    font-weight: bold;
    padding: 5px;
    font-size: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
}

/*
 * immagine x e v per la gestione di successo/insuccesso
 */
.notificheLogo {
    vertical-align: middle;
    margin-right: 10px;
    height: 20px;
    border: 0;
}
.classButton{
    border-radius: 7px;
    width: 150px;
    margin-top: 10px;
    font-size: 15px;
    background-color: #ffb3b3;
}
.classButtonRipristina{
    border-radius: 7px;
    width: 150px;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 15px;
    background-color: #ffb3b3;
}
/**************FINE PRENOTAZIONE*******************/

/******************GALLERY*********************/
.classFigureGallery{
    margin: 1%;
    width: auto;
    height: auto;
    /*border: dotted;*/
    font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
}

.classButtonAvanti{
    margin-top: 5px;
    margin-right: 15%;
    float: right;
    border-color: transparent ;
    background-color: transparent;
}
.classButtonIndietro{
    margin-top: 5px;
    margin-left: 15% ;
    float: left;
    border-color: transparent ;
    background-color: transparent;
}

/*
* Ho messo un'altezza fissa per le classi 
* Img e Section di Gallery altrimenti 
* le immagini con altezza diverse variano 
* il layout della pag
*/
.classImgGallery{
    border-radius: 7px; 
    width: 100%;
    height: 420px;
}
.classSectionGallery{
    border: 1px solid #ccc;
    border-radius: 7px;
    width: 80%;
    /*altezza fissa altrimenti le immaggini cambiano il layout*/
    height: 460px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
