nav.mainPage {
    text-align: center;
    alignment-adjust:  middle;
    padding: 10px;
    font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 25px;
    margin-top: 15px;
    }
    
.classDivCenter{
   text-align: center;
   /*border: dotted;*/
    }
.classMain{
    
         width: 90%;
         display: inline-block;
         margin-left: auto;
         margin-right: auto;
         /*border: dotted;*/
         text-align: center;
        }
.classMainDaily{
        width: 90%;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        padding-left: 10%;
        /*border: dotted;*/
        }
.classMainEventi{
    
         width: 50%;
         /*display: inline-block;*/
         margin-left: auto;
         margin-right: auto;
         /*border: dotted;*/
        }

.classDivHome{
    font-size: 17px;
    width: 680px;
    display: inline-block;
    margin-left: 8%;
    text-align: justify;
    /*border: dotted;*/
}

.classMainContatti{
    /*border: dotted;*/ 
    width: auto;
    display: inline-block;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    padding-left: 10%;
}

section.classSectionPrenotazione {
      width: 400px;
      height: 230px;
      margin: 0 auto;
      margin-top: 10px;
      padding: 15px;
      padding-top: 5px;
    }

.lastSection {
      border-bottom: 1px solid #ccc;
    }
.longLine {
      height: 70px;
    }
    .noBottomBorder {
      border: 0;
    }


/* 
    La proprietà di cui abbiamo bisogno è 
    @font-face, una delle regole appartenenti alle @-rules. 
    Con questa proprietà è possibile, infatti, 
    caricare all’interno delle pagine web font non standard 
    salvati fisicamente all’interno della directory del sito web. 
    Questo ci consente, quindi, di visualizzare correttamente il 
    font su tutti i browser anche quando esso non è installato 
    all’interno del PC dell’utente.   
*/
 @font-face {
  font-family: 'Josefin Sans';
  src: local('Josefin Sans'), url('../Font/JosefinSans.woff2') format('woff2');
}
